body {
	background-color: #1a1a1a;
	font-family: 'Poppins', sans-serif;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
}

div.page_title {
	svg {
		height: 5ch;
		padding-right: 2ch;
	}

	width: 87%;
	margin: auto;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}