{% extends 'layout.html' %}
{% block content %}

<div class="projects_overview">
	<div class="projects_menu">
		<ul>
			<li>
				<h3>Projects</h3>
			</li>
			<li>
				<button class="add_project" type="button" onclick="window.location.href='/add'">
					Add Project
				</button>
			</li>
		</ul>
	</div>
	<div class="projects_list">
		{% if len(projects) %}
			{% for projectname, obj in projects.items() %}
				<div class="project">
					<div>
						{{ projectname }}
						{% if not obj["status"] %}
							<span class="active_project"> ● Active {{ obj["uptime"] }} </span>
						{% else %}
							<span class="dead_project"> ● Dead </span>
						{% endif %}
					</div>

					<div class="version">
						<span>v:{{ obj["version"][1] }}</span>
					</div>
{#					Git Repo: {{ obj["git_repo"] }}#}
					<div class="project_buttons">
						<button class="start_stop button" type="button" onclick="window.location.href='/{{ ["stop", "start"][obj["status"]] }}/{{ projectname }}'">
{#							{{ ["Stop", "Start"][obj["status"]] }}#}
							{% if obj["status"] == 0 %}
								<svg class="stop icon" viewBox="0 0 24 24">
								    <path d="M18,18H6V6H18V18Z"></path>
								</svg>
							{% elif obj["status"] == 1 %}
								<svg class="start icon" viewBox="0 0 24 24">
								    <path d="M8,5.14V19.14L19,12.14L8,5.14Z"></path>
								</svg>
							{% endif %}
						</button>
						<button class="restart button" type="button" onclick="window.location.href='/restart/{{ projectname }}'">
							<svg class="restart icon" viewBox="0 0 24 24">
							    <path d="M12,5V1L7,6L12,11V7A6,6 0 0,1 18,13A6,6 0 0,1 12,19A6,6 0 0,1 6,13H4A8,8 0 0,0 12,21A8,8 0 0,0 20,13A8,8 0 0,0 12,5Z"></path>
							</svg>
						</button>
						<button class="update button" type="button" onclick="window.location.href='/update/{{ projectname }}'">
							<svg class="update icon" viewBox="0 0 24 24">
							    <path d="M12 4C15.64 4 18.67 6.59 19.35 10.04C21.95 10.22 24 12.36 24 15C24 17.76 21.76 20 19 20H6C2.69 20 0 17.31 0 14C0 10.91 2.34 8.36 5.35 8.04C6.6 5.64 9.11 4 12 4M17 13V9L16 10C15.09 8.79 13.64 8 12 8C9.24 8 7 10.24 7 13C7 15.76 9.24 18 12 18C14.05 18 15.81 16.77 16.58 15H14.24C13.69 15.61 12.89 16 12 16C10.34 16 9 14.66 9 13C9 11.34 10.34 10 12 10C13.09 10 14.04 10.58 14.56 11.44L13 13H17Z"></path>
							</svg>
						</button>
						<button class="logs button" type="button" onclick="window.location.href='/logs/{{ projectname }}'">
							<svg class="logs icon" viewBox="0 0 24 24">
							    <path d="M5,3C3.89,3 3,3.89 3,5V19C3,20.11 3.89,21 5,21H19C20.11,21 21,20.11 21,19V5C21,3.89 20.11,3 19,3H5M5,5H19V19H5V5M7,7V9H17V7H7M7,11V13H17V11H7M7,15V17H14V15H7Z"></path>
							</svg>
						</button>
					</div>
				</div>
				{{ "<hr>" | safe if not loop.last }}
			{% endfor %}
		{% else %}
			<div class="projects_empty">
				<h3>This section looks a bit empty.</h3>
				<p>Why not add a project?</p>
				<button class="add_project" type="button">
					Add Project
				</button>
			</div>
		{% endif %}
	</div>
</div>

{% endblock %}
