{% extends 'layout.html' %}
{% block content %}

<div class="projects_overview">
	<div class="projects_menu">
		<ul>
			<li>
				<h3>Projects</h3>
			</li>
			<li>
				<button class="add_project" type="button" onclick="window.location.href='/add'">
					Add Project
				</button>
			</li>
		</ul>
	</div>
	<div class="projects_list">
		{% if len(projects) %}
			{% for projectname, obj in projects.items() %}
				<div class="project">
					<div>
						{{ projectname }}
						{% if not obj["status"] %}
							<span class="active_project"> ● Active {{ obj["uptime"] }} </span>
						{% else %}
							<span class="dead_project"> ● Dead </span>
						{% endif %}
					</div>
{#					Git Repo: {{ obj["git_repo"] }}#}
					<div class="project_buttons">
						<button class="start_stop" type="button" onclick="window.location.href='/{{ ["stop", "start"][obj["status"]] }}/{{ projectname }}'">
							{{ ["Stop", "Start"][obj["status"]] }}
						</button>
						<button class="restart" type="button" onclick="window.location.href='/restart/{{ projectname }}'">
							Restart
						</button>
						<button class="update" type="button" onclick="window.location.href='/update/{{ projectname }}'">
							Update
						</button>
{#						<button class="edit" type="button">#}
{#							Edit#}
{#						</button>#}
					</div>
				</div>
				{{ "<hr>" | safe if not loop.last }}
			{% endfor %}
		{% else %}
			<div class="projects_empty">
				<h3>This section looks a bit empty.</h3>
				<p>Why not add a project?</p>
				<button class="add_project" type="button">
					Add Project
				</button>
			</div>
		{% endif %}
	</div>
</div>

{% endblock %}
